attr==0.3.2
bpython==0.25
click==8.1.7
colorama==0.4.6
ConfigParser==7.1.0
coreschema==0.0.4
cryptography==44.0.2
cx_Oracle==8.3.0
djangorestframework_simplejwt==5.4.0
docutils==0.21.2
fido2==1.2.0
filelock==3.17.0
HTMLParser==0.0.2
inflection==0.5.1
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.6.0
Markdown==3.6
MySQL-python==1.2.5
numpy==2.2.3
onelogin==3.1.6
oracledb==2.5.1
Pillow==11.1.0
psycopg==3.2.5
psycopg2_binary==2.9.10
psycopg_pool==3.2.6
PyJWT==2.10.1
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==25.0.0
pytest==8.3.4
pytest_django==4.10.0
pytz==2024.1
pywatchman==2.0.0
qrcode==8.0
requests_oauthlib==2.0.0
Sphinx==8.2.1
tblib==3.0.0
thread==2.0.5
uritemplate==4.1.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
